<div class="body-container">
    <section>
        <form action="">
            <h1>Sign up</h1>
            <div class="inputbox">
                <input type="text" name="first_name" required >
                <label for="first_name">First name </label>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inputbox">
                <input type="text" name="last_name" required >
                <label for="last_name">Last name </label>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inputbox">
                <input type="email" name="email" required >
                <label for="email">Email </label>
                <i class="fa-solid fa-envelope"></i>

            </div>
            <div class="inputbox">
                <input type="password" name="password" required>
                <label for="password"> Password</label>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="inputbox">
                <input type="password" name="password_confirmed" required>
                <label for="password_confirmed">Confirm Password</label>
                <i class="fa-solid fa-lock"></i>
            </div>
            

            <button type="submit">Sign up</button>
            <div class="register">
                <p>Already have an account?</p>
                <a href="#">Login now</a>
            </div>
        </form>
    </section>

    

</div>
