<div class="dashboard">
    <div class="sidebar">
        <div class="sidebar-section">
            <a href="#"><i class="fas fa-user"></i> Profile</a>
            <a href="#"><i class="fas fa-search"></i> Search</a>
            <a href="#"><i class="fas fa-file-alt"></i> My Posts</a>
            <a href="#" ><i class="fas fa-edit"></i> New Post</a>
            <a href="#"><i class="fas fa-thumbs-up"></i> Liked Posts</a>
        </div>
        <div class="sidebar-section" style="margin-top: 10px;">
            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <!-- <a href="#"><i class="fas fa-cog"></i> Settings</a> -->
        </div>
    </div>
    <div class="main-content">
        <div class="top-bar">
            <div class="profile-info">
                <h3> Welcome Jiu</h3>
            </div>
            <div class="notifications">
                <i class="fas fa-bell" style="color: #6F42C1;"></i>
            </div>
            <img src="assets/av1.png" alt="" class="profile-pic">

                

        </div>
        <div class="featured-posts">
            <div class="thread-post">
                <div class="user-info">
                    <img src="assets/av1.png" alt="Profile Picture" class="profile-picture">
                <div class="username">Jiu Kim</div>
                </div>
                <div class="post-content">
                    abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQ
                    ahjsbzahdvhgevgehzvfgzvgfvzgr
                </div>
                <div class="actions">
                    <button class="like-button">Like</button>
                    <button class="comment-button">Comment</button>
                </div>
        </div>
            
        </div>
    </div>
